/* 
  File: About.css
  Student's Name: Diego Sarmiento
  Student ID: 301379640
  Date: 01/28/2024
*/

/* Styles for About page */

.photo img {
    width: 300px;
    float: left;
    position: fixed;
    top: 20%;
    left: 10%;
  }

.information {
  float: left;
  position: fixed;
  top: 60%;
  left: 12%;
  text-align: center;
}

.profile {
  font-family: "Montserrat", sans-serif;
  font-size: 23px;
  line-height: 1;
  text-align: justify;
  font-style: oblique;
  position: fixed;
  top: 26%;
  left: 35%;
  right: 8%;
}