.form-container{
    position: absolute;
    top: 56%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 23px;
    line-height: 1;
    font-style: oblique;
    font-family: "Montserrat", sans-serif;
}

.form-information {
    width: 540px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 13px;
    background-color: #f9f9f9;
    justify-items: center;
}

.form-information label {
    display: block;
}

.form-information input[type="text"],
.form-information input[type="email"],

.form-information textarea {
    width: 500px;
    padding: 5px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    align-content: center;
}

.link-button-home {
    list-style: none;
    text-decoration: none;
    color: #f0f0f0;
    padding: 0.7rem 5rem;
    font-size: 15px;
    white-space: nowrap;
    background: #333;
    background: linear-gradient(black, orange);
    opacity: 0.8;
    border-radius: 13px;
    margin: auto;
}