/* 
  File: Error404.css
  Student's Name: Diego Sarmiento
  Student ID: 301379640
  Date: 01/28/2024
*/

/* Styles for Error 404 message */

.error-message {
    position: absolute;
    width: 100%;
    top: 70%;
    left: 50%;
    transform: translate(-35%, -40%);
    font-size: 40px;
    font-family: "Montserrat", sans-serif;
}

.error-title {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 43%;
    font-size: 40px;
    font-style: oblique;
    font-family: "Montserrat", sans-serif;
}

.error-code {
    position: absolute;
    width: 100%;
    top: 30%;
    left: 45%;
    font-size: 80px;
    font-family: "Montserrat", sans-serif;
}