/* 
  File: Services.css
  Student's Name: Diego Sarmiento
  Student ID: 301379640
  Date: 01/28/2024
*/

/* Styles for Services page */

.images-services {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(2, auto);
    grid-gap: 70px;
    float: left;
    position: fixed;
    top: 20%;
    left: 8%;
    right: 10%;
}

.text-services {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(2, auto);
    grid-gap: 200px;
    float: left;
    position: fixed;
    top: 25%;
    left: 20%;
    right: 6%;
    font-family: "Montserrat", sans-serif;
    font-style: oblique;
    font-size: 25px;
    text-align: center;
}